version: '3.8'

services:
  api:
    image: '${DOCKER_REGISTRY_PATH}:latest'
    container_name: hi-fella-shoe-api
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: hi-fella-shoe-redis
    restart: unless-stopped
    volumes:
      - ./redis_data:/data
