version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner # Use the production stage
    image: '${DOCKER_REGISTRY_PATH}:latest'
    container_name: hi-fella-shoe-api
    restart: unless-stopped
    ports:
      - '${PORT:-8000}:8000'
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: hi-fella-shoe-redis
    restart: unless-stopped
    ports:
      - '${REDIS_PORT:-6379}:6379'
    volumes:
      - ./redis_data:/data
